---
- name: NVIDIA CUDNN for Redhat
  when:
    - ansible_os_family == 'RedHat'
  block:
    - name: Install Nvidia CUDNN for RedHat
      vars:
        cuda_major_version: "{{ (cuda_version | default('13-0')).split('-')[0] }}"
      ansible.builtin.yum:
        name:
          - "libcudnn9-cuda-{{cuda_major_version}}"
          - "libcudnn9-dev-cuda-{{ cuda_major_version }}"

- name: NVIDIA CUDNN for Ubuntu
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_major_version == '22'
  block:
    - name: Install Nvidia CUDNN for Ubuntu
      vars:
        cuda_major_version: "{{ (cuda_version | default('13-0')).split('-')[0] }}"
      ansible.builtin.apt:
        name:
          - "libcudnn9-cuda-{{ cuda_major_version }}"
          - "libcudnn9-dev-cuda-{{ cuda_major_version }}"
        lock_timeout: 300

- name: NVIDIA CUDNN for Ubuntu
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_major_version == '24'
  block:
    - name: Install Nvidia CUDNN for Ubuntu
      vars:
        cuda_major_version: "{{ (cuda_version | default('13-0')).split('-')[0] }}"
      ansible.builtin.apt:
        name:
          - "libcudnn9-cuda-{{ cuda_major_version }}"
          - "libcudnn9-dev-cuda-{{ cuda_major_version }}"
        lock_timeout: 300