---
- name: Install rccl tests
  block:
    - name: Clone rccl github repository
      ansible.builtin.git:
        repo: https://github.com/ROCm/rccl.git
        dest: /opt/rccl
        clone: true
        update: true
        version: "{{amd_rccl_commit}}"

    - name: Creates /opt/rccl/build directory
      ansible.builtin.file:
        path: /opt/rccl/build
        state: directory
        mode: "0755"

    - name: Install libstdc++-12-dev
      ansible.builtin.apt:
        name:
          - libstdc++-12-dev
          - wget
          - gnupg
        lock_timeout: 300
      when: ansible_distribution == 'Ubuntu'

    - name: Download and store Kitware APT repository key
      ansible.builtin.get_url:
        url: https://apt.kitware.com/keys/kitware-archive-latest.asc
        dest: /etc/apt/trusted.gpg.d/kitware.asc
        mode: '0644'
      when: ansible_distribution == 'Ubuntu' and ansible_distribution_major_version == '22'

    - name: Add Kitware APT repository
      ansible.builtin.apt_repository:
        repo: "deb https://apt.kitware.com/ubuntu/ {{ ansible_distribution_release }} main"
        state: present
        filename: kitware
      when: ansible_distribution == 'Ubuntu' and ansible_distribution_major_version == '22'

    - name: Install cmake
      ansible.builtin.apt:
        name:
          - cmake=3.31.8-0kitware1ubuntu22.04.1
          - cmake-data=3.31.8-0kitware1ubuntu22.04.1
        state: latest
        lock_timeout: 300
      when: ansible_distribution == 'Ubuntu' and ansible_distribution_major_version == '22'

    - name: Install cmake
      ansible.builtin.apt:
        name:
          - cmake
          - cmake-data
        state: latest
        lock_timeout: 300
      when: ansible_distribution == 'Ubuntu' and ansible_distribution_major_version != '22'

    - name: Install OL dependencies
      ansible.builtin.yum:
        name:
          - cmake
          - libstdc++-devel
      become: true
      when: ansible_os_family == 'RedHat'

    - name: Set up CXX # noqa no-changed-when
      ansible.builtin.shell: |
        CXX=/opt/rocm/bin/hipcc cmake -DCMAKE_PREFIX_PATH=/opt/rocm/ ..
      args:
        chdir: "/opt/rccl/build"

    - name: Make rccl
      community.general.make:
        chdir: "/opt/rccl/build"
        jobs: "{{ ansible_processor_vcpus }}"

    - name: Find matching directories
      ansible.builtin.find:
        paths: /usr/mpi/gcc/
        patterns: "openmpi*"
        file_type: directory
      register: openmpi_dirs

    - name: Clone rccl tests
      ansible.builtin.git:
        repo: https://github.com/ROCm/rccl-tests.git
        dest: /opt/rccl-tests
        clone: true
        update: true
        version: 6405c76e6826663bbb67bd40aeee8c70aa5d3094

    - name: Create symlink from openmpi /lib64 to /lib as rccl test build expects /lib
      command: ln -s {{openmpi_dirs.files[0].path}}/lib64 {{openmpi_dirs.files[0].path}}/lib
      when: ansible_os_family == 'RedHat'

    - name: Make RCCL test
      community.general.make:
        chdir: "/opt/rccl-tests"
        params:
          MPI=1
          MPI_HOME={{openmpi_dirs.files[0].path}}
          NCCL_HOME=/opt/rccl
          HIP_HOME=/opt/rocm
        jobs: "{{ ansible_processor_vcpus }}"
